@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Any Colors */

    --input-focus-color: #0073ff;
    --input-box-shadow: #00000033;

    /* Light Colors */

    --light-text-color: #ffffff;
    --light-bg-color-principal: #ffffff;
    --light-bg-hover-color: #e1e1e1 ;
    --light-borders-color: #d0d0d0;
    --light-box-shadows: #ffffff;

}


ion-icon {
    --ionicon-stroke-width: 26px;
    font-size: 25px;
    width: 25px;
    height: 25px;
    padding: 6px;
    
}

ion-icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--light-bg-hover-color);
}

/* ================ { Header } ================ */

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    
    width: 100vw;
    height: 55px;
    background: var(--light-bg-color-principal);
    
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}   

/* --------- Buttons header --------- */
.home-area {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
}

.lateral-menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 15px 0px 15px;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
}

/* -------- [Search Area] -------- */

.search-area {
    display: flex;
    align-items: center;
    width: 600px;
}

.search-input {
    position: relative;
    border: 0;
    outline: none;
    width: 450px;
    font-size: 16px;

    padding: 9px 20px;
    border-radius: 100px 0px 0px 100px;
    border: solid 1px var(--light-borders-color);
    background-color: transparent;  
}

.search-input:focus{
    box-shadow: inset 0px 1px 2px 1px #00000033;

    border: solid 1px var(--input-focus-color);
    padding: 9px 20px;
}

.search-icon {
    position: relative;
    width: 50px;

    border: solid 1px var(--light-borders-color);
    border-radius: 0 50px 50px 0;
    background-color: var();
}

.search-icon:hover {
    border-radius: 0 50px 50px 0;
    color: rgb(0, 0, 0);
    background-color: var(--light-bg-hover-color);
}

.search-mic {
    position: relative;
    margin: 10px;
    right: 0;
}

.user-area {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    margin: 15px;
    gap: 20px;
}

.user-area img {
    width: 30px;
    height: 30px;
}

/* ================ { MAIN } ================ */

section {
    width: 100vw;
    height: 100vh;
}


/* -------- [Search Area] -------- */

.item-lateral-bar ion-icon {
    position: absolute;
    left: 0;
    margin: 0 50px 0 0px;
}

.item-lateral-bar ion-icon:hover {
    background-color: transparent;
}


.lateral-menu {
    margin-top: 7vh;
}

.lateral-bar {
    overflow-y: scroll;
    position: fixed;
    background: rgb(220, 220, 220);
    width: 250px;
    height: 100%;
}


.lateral-items {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.item-lateral-bar {
    position: relative;
    cursor: pointer;
    list-style: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    font-size: 12px;
    /* margin: 10px; */
    width: 200px;
    height: 40px;
    background-color: #0073ff;
}
